.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.result {
  border: 2px solid black;
  height: 30vh;
  width: 100vw;
}
.buttons button{
  background-color: rgb(177, 170, 170);
  width: 339px;
  font-size: 1.6rem;
  height: 81px;
}
.row5 button{
  width: 679px;
}
.buttons input{
  font-size: 1.7rem;
}


